@import "_mediaqueries";
@import "_variables";
@import "_mixins";

@tailwind base;
// @tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.eot") format("embedded-opentype"), /* IE6-IE8 */ url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.woff") format("woff"), /* Modern Browsers */ url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

html {
  height: 100vh;
}

body {
  background-color: black;
  height: 100%;
}

#titleBar {
  -webkit-app-region: drag;
  width: 100vw;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  // z-index: -1;
  // padding: 5px;
  // padding-bottom: 5px;
  // background-color: green;

  & * {
    -webkit-app-region: no-drag;
  }

  & svg {
    width: 10px;

    // & button{
    //   height: 0;
    //   width: 0;
    // }
    &:nth-child(2) {
      // background-color: red;
      margin: 0 10px 0 10px;
      width: 10px;
    }
    &:nth-child(3) {
      // background-color: red;
      margin-right: 10px;
    }
  }
}

#min:hover rect,
#min {
  fill: #1aff91;
}

#max:hover path,
#max {
  fill: #1a9fff;
}

#exit:hover path,
#exit {
  stroke: red;
}

body header {
  @include flexCenter(space-between, center);
  position: relative;
  height: auto;
  width: 100vw;
  padding: 10px;

  & #logoText {
    display: flex;
    align-items: center;
  }

  h1 {
    color: white;
    font-size: 25px;
    font-family: Montserrat;
  }

  #logo {
    width: 70px;
    margin-right: 10px;
  }
}

#iconsMiddle {
  display: flex;
  position: absolute;
  // width: 70px;
  left: 50%;
  transform: translateX(-50%);

  & img:nth-child(2) {
    margin: 0 10px 0 10px;
  }
}

hr {
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  width: calc(100vw - 20px);

  left: 50%;
  transform: translateX(-50%);
}
