@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.eot") format("embedded-opentype"), url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.woff2") format("woff2"), url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.woff") format("woff"), url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.ttf") format("truetype"), url("../Project/Fonts/Montserrat/montserrat-v24-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
* {
  user-select: none;
  text-select: none;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
  height: 100%;
}

body #container #leftContainer,
#middleContainer,
#camContainer,
#rightContainer {
  background-color: rgba(0, 0, 0, 0) !important;
}

#titleBar {
  -webkit-app-region: drag;
  width: 100vw;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}
#titleBar * {
  -webkit-app-region: no-drag;
}
#titleBar svg {
  width: 10px;
}
#titleBar svg:nth-child(2) {
  margin: 0 10px 0 10px;
  width: 10px;
}
#titleBar svg:nth-child(3) {
  margin-right: 10px;
}

#min:hover rect,
#min {
  fill: #1aff91;
}

#max:hover path,
#max {
  cursor: not-allowed;
  fill: #1a9fff;
}

#exit:hover path,
#exit {
  stroke: red;
}

body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: auto;
  width: 100vw;
  padding: 10px;
}
body header #logoText {
  display: flex;
  align-items: center;
}
body header h1 {
  color: white;
  font-size: 25px;
  font-family: Montserrat;
}
body header #logo {
  width: 70px;
  margin-right: 10px;
}

#iconsMiddle {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#iconsMiddle img:nth-child(2) {
  margin: 0 10px 0 10px;
}

hr {
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  width: calc(100vw - 20px);
  left: 50%;
  transform: translateX(-50%);
}

#container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 1%;
  padding-bottom: none;
  background-color: black;
}
#container .sensorText {
  color: white;
  font-family: Montserrat;
  font-size: 20px;
}
#container #leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  gap: 20px;
  flex-direction: column;
  padding-top: 10px;
  height: 100%;
  width: 25%;
}
#container #leftContainer #outerDepth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container #leftContainer #outerDepth #lowerText {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#container #leftContainer #outerDepth #middleDepth {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #leftContainer #outerDepth #middleDepth #depth {
  width: 70%;
  position: relative;
}
#container #leftContainer #outerDepth #middleDepth #depth #sensorImg,
#container #leftContainer #outerDepth #middleDepth #depth #arrow {
  opacity: 0.99;
}
#container #leftContainer #outerDepth #middleDepth #depth p {
  position: absolute;
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Montserrat;
  bottom: 10%;
}
#container #leftContainer #outerDepth #middleDepth #depth #arrow {
  position: absolute;
  right: 50%;
  top: 45%;
  transform-origin: center right;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 115px solid white;
}
#container #leftContainer #outerCompass {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-family: Montserrat;
}
#container #leftContainer #outerCompass #middleCompass {
  width: 70%;
}
#container #leftContainer #outerCompass #compass {
  position: relative;
  margin: 5px;
}
#container #leftContainer #outerCompass #compass #compassImg {
  opacity: 0.99;
}
#container #leftContainer #outerCompass #compass #innerText {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#container svg #needle {
  transform: rotate(20deg);
}
#container svg #needle .circle {
  transform-origin: 29% 70%;
}
#container #middleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: pink;
}
#container #middleContainer #camContainer {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: green;
}
#container #middleContainer #camContainer #cam {
  width: 90%;
  aspect-ratio: 16/9;
  background-color: white;
}
#container #middleContainer #camContainer #textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  gap: 20px;
}
#container #middleContainer #camContainer #textContainer p {
  font-size: 1.5rem;
  font-family: Montserrat;
  color: white;
}
#container #middleContainer #sensorsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  flex-direction: row;
  gap: 20px;
}
#container #middleContainer #sensorsContainer .sensors {
  width: 30%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #middleContainer #sensorsContainer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: Montserrat;
  color: white;
  position: relative;
}
#container #middleContainer #sensorsContainer .container .centerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#container #middleContainer #sensorsContainer .container #batteryRing {
  --percent: 90;
}
#container #middleContainer #sensorsContainer .container #tempRing {
  --percent: 70;
}
#container #middleContainer #sensorsContainer .container .ring {
  --diameter: 180;
  --stroke-width: 10;
  --pi: 3.1415;
  --diameter-px: calc(var(--diameter) * 1px);
  --radius: calc((var(--diameter) - var(--stroke-width)) / 2);
  --radius-px: calc(var(--radius) * 1px);
  --circumference: calc(var(--radius) * 2 * var(--pi));
  --circumference-px: calc(var(--circumference) * 1px);
  --offset: calc(var(--circumference) - var(--percent) / 100 * var(--circumference));
  --offset-px: calc(var(--offset) * 1px);
  --tw-ring-shadow: none !important;
  width: var(--diameter-px);
  height: var(--diameter-px);
}
#container #middleContainer #sensorsContainer .container .ring circle {
  stroke-width: var(--stroke-width);
  fill: transparent;
  r: var(--radius-px);
  cx: calc(var(--diameter-px) / 2);
  cy: calc(var(--diameter-px) / 2);
}
#container #middleContainer #sensorsContainer .container .ring .progress {
  stroke-dasharray: var(--circumference-px) var(--circumference-px);
  stroke-dashoffset: var(--offset-px);
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.35s;
}
#container #rightContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: blue;
  width: 25%;
  height: 100%;
  padding-top: 10px;
}
#container #rightContainer .dotText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 11px;
  font-family: Montserrat;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: -20px;
}
#container #rightContainer .dot {
  position: relative;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
#container #rightContainer #motorFive,
#container #rightContainer #motorSeven {
  margin-left: 0 !important;
}
#container #rightContainer #motorSix,
#container #rightContainer #motorEight {
  margin-right: 0 !important;
}
#container #rightContainer #motorFour,
#container #rightContainer #motorFive {
  background-color: #1aff91;
}
#container #rightContainer #motorOne,
#container #rightContainer #motorTwo,
#container #rightContainer #motorSeven,
#container #rightContainer #motorThree,
#container #rightContainer #motorSix,
#container #rightContainer #motorEight {
  background-color: #ff0000;
}
#container #rightContainer #dotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1/1;
}
#container #rightContainer #dotsContainer #middleDots {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #rightContainer #dotsContainer #middleDots .dotColumn .dot {
  margin: 40px;
}
#container #rightContainer #dotsContainer .sideDots {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 85%;
}

/*# sourceMappingURL=index.css.map */
